body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../img/yoshi_fundojpg.jpg');
    background-size: cover;
}

#container {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;


}

.bloco_perfil {
    background-color: lightseagreen;
    width: 500px;
    height: 400px;
    margin: 30px;
}


.perfil_1 {
    background-color: lavenderblush;
    max-width: 500px;
    height: 350px;
    margin: 20px;
}

.centraliza {
    height: 80px;
    width: 80px;
    border: 3px solid black;
    position: relative;
    left: 105px;
    top: 10px;


}

h2 {
    margin: 10px;
}

p {
    margin: 10px;
}

@media(max-width: 1000px) {
    .container-imagem {
        height: 180vh;
        width: 100vw;
    }

    #container {
        min-width: 500px;
        min-height: 1000px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .bloco_perfil {
        background-color: lightseagreen;
        max-width: 300px;
        max-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .perfil_1 {
        background-color: lightblue;
        width: 890px;
        max-height: 250px;
        margin: 10px;
    }

    .centraliza {
        position: relative;
        left: 90px;
        top: 10px;


    }

}