body {
    padding: 0;
    margin: 0;
    /*background-color: cornflowerblue;*/
}
#body_imagem{
    min-width: 100vw;
    min-height: 100vh;
    background: url('../img/yoshi_fundojpg.jpg');
    background-size: cover;
}
#navBar {
    display: flex;
    flex-direction: row;
    background-size: contain;
    justify-content: space-around;
    min-width: 100vw;
    height: 100px;
     
    
}

.itemNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    width: 200px;
    height: 50px;
    margin: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

.itemNav:hover {
    transition: 2s;
    background-color: red;
    width: 200px;
    height: 100px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.slot_1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    width: 200px;
    height: 50px;
    margin:0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


.slot_1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 200px;
    height: 100px;
    margin:0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80vw;
    min-height: 100%;
}

#lancamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
}

#itens_lanc {
    padding: 5px;
}

input[type=button] {
    margin: 3px;
    border: none;
    background-color: transparent;
    width: 60px;
    height: 40px;
}

#JA {
    background-image: url("../img/JAP.png");
    background-size: cover;
}
#JA:hover{
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#US {
    background-image: url("../img/USA.webp");
    background-size: cover;
}
#US:hover{
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#EU {
    background-image: url("../img/EUR.webp");
    background-size: cover;
}
#EU:hover{
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#BR {
    background-image: url("../img/BRA.jpg");
    background-size: cover;
}
#BR:hover{
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#info {
    font-size: 30px;
}

section {
    min-width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    padding: 3px;
    border: black 2px solid;
    max-width: 80vw;
    min-height: 100px;

}

#plot h2 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 6px;
    margin: 0;
}

#plot h3 {
    font-size: 30px;
}

#plot p {
    font-size: 20px;
    text-align: justify;
    padding: 0px 90px;
}

img {
    height: 200px;
    width: 350px;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {
    a {
        font-size: 10px;
    }

    #navBar {
        min-width: 50vw;
        height: 50px;
    }

    .itemNav {
        background-color: lightcoral;
        width: 70px;
        height: 30px;
    }

    .itemNav:hover {
        background-color: red;
        width: 70px;
        height: 50px;
    }

    section {
        min-height: 45vh;
    }

    #plot {
        min-height: 50px;
    }

    #plot h2 {
        font-size: 22.5px;
        padding-bottom: 3px;
    }

    #plot h3 {
        font-size: 30px;
    }

    #plot p {
        font-size: 20px;
    }

    img {
        height: 100px;
        width: 175px;
    }
}
