body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../img/yoshi_fundojpg.jpg');
    background-size: cover;
}

#container {
    max-width: 1000px;
    max-height: 1000px;
    display: flex;
    flex-direction: row;
}

.bloco_perfil {
    display: flex;
    justify-content: space-between;
    background-image: url(../img/estampa_egg.png);
    max-width: 320px;
    max-height: 360px;
    margin: 5px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 3px solid #1c446b;
    background-size: 490px;
}


.perfil_1 {
    max-width: 450px;
    height: 250px;
    margin: 60px;
}

.centraliza {
    height: 80px;
    width: 80px;
    border: 3px solid black;
    position: relative;
    left: 60px;
    top: 10px;
}

h1 {
    font-size: 80px;
    margin: 0px;
}

h2 {
    margin: 20px;
}

p {
    font-size: 25px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: none;
    color: #f34221;
}

@media (max-width: 850px) {
    .container-imagem {
        height: 200vh;
        width: 90vw;
    }

    h1 {
        font-size: 65px;
        margin: 30px;
    }

    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .bloco_perfil {
        max-width: 300px;
        max-height: 900px;
    }

    .perfil_1 {
        width: 890px;
        max-height: 250px;
        margin: 30px;
        border-radius: 0;
    }
}

@media (max-width: 500px) {
    .container-imagem {
        height: 250vh;
        width: 90vw;
    }

    #container {
        position: relative;
        top: -160px;
        min-width: 500px;
        min-height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .bloco_perfil {
        max-width: 300px;
        max-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0
    }

    .perfil_1 {
        width: 890px;
        max-height: 250px;
        margin: 10px;
    }

    h1 {
        position: relative;
        top: -190px;
        margin: 0;
        font-size: 60px;
    }

    h2 {
        position: relative;
        left: 50px;
        top: 10px;
    }

    p {
        position: relative;
        left: 30px;
        top: 5px;
    }

    .centraliza {

        position: relative;
        left: 90px;
        top: 10px;
    }

}