body {
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;
}
#nav {
    display: flex;
    flex-direction: row;
    background-size: contain;
    justify-content:space-around;
   
    min-width:100vw ;
    height:100px;

}
.slot_1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98FB98;
    width: 200px;
    height: 50px;
    margin:0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.slot_1:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 200px;
    height: 100px;
    margin:0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
#navBar{
    display: flex;
    background-color: aquamarine;
    flex-direction: row;
    background-size: contain;
    justify-content: space-around;
    min-width: 100vw;
    height: 100px;
}

.itemNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    width: 200px;
    height: 50px;
    margin: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

.itemNav:hover {
    transition: 2s;
    background-color: #008000;
    width: 200px;
    height: 100px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 80vw;
    min-height: 100%; 
}

#lancamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
}

#itens_lanc {
    padding: 5px;
}

input[type=button] {
    margin: 3px;
    border: none;
    background-color: transparent;
}

#US {
    width: 60px;
    height: 40px;
    background-image: url("../img/USA.webp");
    background-size: cover;
    opacity: 1;
}

#EU {
    width: 60px;
    height: 40px;
    background-image: url("../img/EUR.webp");
    background-size: cover;
    opacity: 1;
}

#BR {
    width: 60px;
    height: 40px;
    background-image: url("../img/BRA.jpg");
    background-size: cover;
    opacity: 1;
}

#info {
    font-size: 30px;
}

section {
    background-color: blue;
    min-width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    padding: 3px;
    border: black 2px solid;
    max-width: 80vw;
    min-height: 100px;

}

#plot h1 {
    text-align: center;
    font-size: 90px;
    margin: 0;

}

#plot p {
    font-size: 20px;
    text-align: justify;
    margin: 60px;
}

img {
    height: 200px;
    width: 350px;
}

footer {
    background-color: greenyellow;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 750px) {
    a {
        font-size: 10px;

    }

    .slot_1 {
        display: flex;
        background-color: #98FB98;
        width: 110px;
        height: 30px;
        margin: 0;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;

    }

    .slot_1:hover {
        background-color: red;
        width: 110px;
        height: 30px;
        margin: 0;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}
