body {
    padding: 0;
    margin: 0;
   
    
}
#navBar {
    display: flex;
    margin;0;
    flex-direction: row;
    background-size: contain;
    justify-content: space-around;
    min-width: 100vw;
    height: 100px;
}

.itemNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #98FB98;
    width: 200px;
    height: 50px;
    margin: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
}

.itemNav:hover {
    transition: 2s;
    background-color: #008000;
    width: 200px;
    height: 100px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.container-imagem {
    height: 100vh;
    width: 100vw;
    background: url('../img/yoshi_fundojpg.jpg');
    background-size: cover;
}
 main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
 }
#container {
    min-width: 1000px;
    max-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.bloco_perfil {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/estampa_egg.png');
    max-width: 320px;
    max-height: 360px;
    margin: 5px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 3px solid #1c446b;
    background-size: 490px;
}


.perfil_1 {
    /* background-color: lavenderblush;*/
    max-width: 450px;
    height: 250px;
    margin: 60px;
}

.centraliza {
    height: 80px;
    width: 80px;
    border: 3px solid black;
    position: relative;
    left: 60px;
    top: 10px;
}

h1 {
    font-size: 80px;
    margin: 0px;
}

#seta_home {
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    margin: 20px;
}

p {
    font-size: 25px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: none;
    color: #f34221;
}

footer {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    position: absolute;
}

@media (max-width: 850px) {
    .container-imagem {
        height: 230vh;
        width: 90vw;
    }

    a {
        font-size: 10px;
    }

    #navBar {
        min-width: 60vw;
        height: 50px;
    }

    .itemNav {
        background-color: #98FB98;
        width: 80px;
        height: 30px;
    }

    .itemNav:hover {
        background-color: red;
        width: 70px;
        height: 50px;
    }
    h1 {
        font-size: 65px;
        margin: 30px;
    }

   

    #container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .bloco_perfil {
        max-width: 300px;
        max-height: 900px;
    }

    .perfil_1 {
        width: 890px;
        max-height: 250px;
        margin: 30px;
        border-radius: 0
    }
    footer {
        background-color: rgba(0, 0, 0, 0.1);
        width: 600px;
        height: 70px;
        display:flex;
        flex-direction: column;
        align-items: center;
        bottom: 0;
        position: absolute;
        top:1180px;
    }
}



