body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-imagem {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url('../img/yoshi_fundojpg.jpg');
    background-size: cover;
}

#container {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.bloco_perfil {
    background-color: lightseagreen;
    background-image: url('../img/estampa_egg.png');
    width: 400px;
    height: 460px;
    margin: 20px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 3px solid #1c446b;
    background-size: 490px;
}


.perfil_1 {
    /* background-color: lavenderblush;*/
    max-width: 450px;
    height: 250px;
    margin: 60px;
}

.centraliza {
    height: 80px;
    width: 80px;
    border: 3px solid black;
    position: relative;
    left: 60px;
    top: 10px;
}

h1 {
    font-size: 80px;
}

h2 {
    margin: 20px;
}

p {
    font-size: 25px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: none;
    color: #f34221;
}

@media(max-width: 1000px) {
    .container-imagem {
        height: 180vh;
        width: 100vw;

    }

    #container {
        min-width: 500px;
        min-height: 1000px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .bloco_perfil {
        background-color: lightseagreen;
        max-width: 300px;
        max-height: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0
    }

    .perfil_1 {
        /*  background-color: lightblue;*/
        width: 890px;
        max-height: 250px;
        margin: 10px;
        border-radius: 0
    }

    h2 {
        position: relative;
        left: 50px;
        top: 10px;
        border-radius: 0
    }

    p {
        position: relative;
        left: 30px;
        top: 5px;
        border-radius: 0
    }

    .centraliza {
        position: relative;
        left: 90px;
        top: 10px;
        border-radius: 0
    }

}