#contenier {
    padding: auto;
    margin: auto;
    max-width: 900px;
}

#nav {}

ul {
    display: flex;
    background-image: url(../img/clound.png);
    background-size: contain;
    justify-content: space-around;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}